*.max filter=lfs diff=lfs merge=lfs -text
*.w3d filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.jms filter=lfs diff=lfs merge=lfs -text
*.jma filter=lfs diff=lfs merge=lfs -text
*.jmo filter=lfs diff=lfs merge=lfs -text
*.bitmap filter=lfs diff=lfs merge=lfs -text
*.shader_model filter=lfs diff=lfs merge=lfs -text
*.gbxmodel filter=lfs diff=lfs merge=lfs -text
*.model_animations filter=lfs diff=lfs merge=lfs -text
*.model_collision_geometry filter=lfs diff=lfs merge=lfs -text
*.physics filter=lfs diff=lfs merge=lfs -text
*.scenery filter=lfs diff=lfs merge=lfs -text
*.weapon filter=lfs diff=lfs merge=lfs -text
*.vehicle filter=lfs diff=lfs merge=lfs -text
*.scenario filter=lfs diff=lfs merge=lfs -text
*.scenario_structure_bsp filter=lfs diff=lfs merge=lfs -text